/* Définition de la classe .Intro */
.Intro {
	margin-top: 2em;
	margin-bottom: 2em;
	display: flex;
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
	text-align: center; 
  
	img {
	  width: 1240px;
	  height: 223px;
	  object-fit: cover;
	  border-radius: 25px;
	}
	h1 {
	  overflow: hidden;
	  color: white;
	  font-size: 48px;
	  position: absolute; 
	}
  }
  
