.Banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1.5em;
img {
	  width: 210px;
	  height: 68px;
	}
ul {
	  display: flex;
	  list-style-type: none;
	  gap: 2em;
a {
		text-decoration: none;
		color: #FF6060;
		font-size: 24px;
	  }
a.active {
		text-decoration: underline;
	  }
	}
  }

  @media screen and (max-width : 767px) {
	.Banner {

	img {
		  width: 145px;
		  height: 47px;
		}
	ul {
		  gap: 1em;
	a {
			font-size: 12px;
			white-space: nowrap; 
			
		  }
		}
	  }
  }
