.containerError {
	color: #FF6060;
	text-align: center;
	display: flex;
	flex-direction: column;
	h1 {
	 margin-top: 0px;
		font-size: 288px;
	  margin-bottom: 139px; 
	}
	p {
	  margin-bottom: 139px; 
	  font-size: 36px;
	}
	a {
	  color: #FF6060;
	  margin-bottom: 139px;
	  font-size: 18px;
	}
  }
  